<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% if (locals.scripts) { %> 
        <% for(var i=0; i<scripts.length; i++) { %>
            <script src="<%= scripts[i]%>"></script>
        <% } %> 
    <% } %> 
</head>
<body>
    <% if(username) { %>

        <a href="/" style="font-size:large;display: inline;">Home</a> 
        <p style="font-size: large;display: inline;">Hello <%= username %>!</p>
        <a href="/logout" style="font-size:large;display: inline;">Logout</a> 
        
     <% } %>